/\.vscode/
/node_modules/
/*\.class
/target/
/\.classpath
/\.project
/\.settings/
/playCribbageHand\.exe
/playCribbageHandParallel\.exe
/obj/
/bin/
/__pycache__/
/\.idea/
/expected_random_opponent_discard_crib_points_cache/
/start_of_hand_position_results_tallies_shelf
/start_of_hand_position_results_tallies_shelf\.bak
/start_of_hand_position_results_tallies_shelf\.dat
/start_of_hand_position_results_tallies_shelf\.dir
/start_of_hand_position_results_tallies_shelf_backups/
/\.parcel-cache/
/dist/
/index\.html
/index\.*\.js
/index\.*\.js\.map
/index\.*\.css
/index\.*\.css\.map
/src/**/*\.js
/src/**/*\.module\.css\.d\.ts
/playCribbageHand*\.js
/test/**/*\.js
/coverage/
*\.icloud
/\.coverage
/htmlcov/
/coverage\.xml
