/\.vscode/
/node_modules/
/*\.class
/target/
/\.classpath
/\.project
/\.settings/
/playCribbageHand\.exe
/playCribbageHandParallel\.exe
/obj/
/bin/
/__pycache__/
/\.idea/
/expected_random_opponent_discard_crib_points_cache/
