/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

.card {
  border-style: solid;
  border-width: thin;
  display: inline-block;
  padding: 0.18em;
  margin: 0.18em;
  border-color: grey; /* TODO: factor out common border-color */
  border-radius: 0.22em; /* TODO: factor out common border-radius */
  width: 1.35em;
  text-align: center;
  height: 18.4px;
}

.redSuit {
  color: red;
}

.blackSuit {
  color: black;
}
