/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

/* TODO: factor out duplicate CSS in this and HiddenHand.module.css */

.visibleHandHand {
  display: flex;
  align-items: center;
}

.visibleHandHand span {
  width: 2.4em;
  font-weight: bold;
}

.visibleHandHand ul {
  padding-left: 0.5em;
}
